
body {
    font-family: 'Calibri', Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #dff0d8;
    color: #5a6e5d;
    text-align: center;
    direction: rtl;
}


header h1 {
    font-size: 2.5em;
    margin: 20px 0;
    color: #5a6e5d;
}


.weekdays {
    display: flex;
    justify-content: center;
    margin: 20px 0;
    gap: 5px;
    flex-direction: row-reverse;
}

.day {
    width: 45px;
    height: 45px;
    background-color: #ffffff;
    color: #5a6e5d;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.3em;
    font-weight: bold;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s;
    cursor: pointer;
}

.day:hover {
    transform: scale(1.1);
}

.highlighted {
    background-color: #cfd8dc;
    color: #5a6e5d;
}


.workout-list {
    max-width: 500px;
    margin: 0 auto;
    text-align: right;
}

.workout-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: white;
    border-radius: 10px;
    margin: 10px 0;
    padding: 10px 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.workout-item.selected {
    background-color: #d3d3d3; /* אפור בהיר */
    font-size: 1.2em;
}


.add-button {
    background-color: #4caf50;
    color: white;
    border: none;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    font-size: 1.5em;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s;
}

.add-button:hover {
    background-color: #45a049;
}


.time {
    font-size: 1.2em;
    color: #5a6e5d;
}

.btn-home {
    display: inline-block;
    background-color: #f5f5f5;
    color: #5a6e5d;
    border: 2px solid #ddd;
    border-radius: 10px;
    padding: 10px 20px;
    font-size: 1.2em;
    text-decoration: none;
    margin-top: 20px;
    transition: background-color 0.3s, border-color 0.3s;
}

.btn-home:hover {
    background-color: #e0e0e0;
    border-color: #ccc;
}