/* עיצוב כללי */
body {
    font-family: 'Calibri', Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #dff0d8; /* רקע ירוק פסטל */
    color: #5a6e5d;
    text-align: center;
    direction: rtl;
}

/* כותרת */
header h1 {
    font-size: 2.5em;
    margin: 20px 0;
    color: #5a6e5d;
}

/* עיצוב טבלה */
.schedule-container {
    max-width: 800px;
    margin: 0 auto;
    overflow-x: auto;
    position: relative;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
    background-color: white;
}

thead th {
    background-color: #5a6e5d; /* ירוק */
    color: white;
    font-size: 1.5em;
    padding: 10px;
    text-align: center;
    border: 1px solid #ccc;
}

tbody td {
    text-align: center;
    padding: 15px;
    border: 1px solid #ccc;
    font-size: 1.2em;
}

tbody td:not(:empty) {
    background-color: #e8f5e9; /* רקע בהיר עבור תאים מלאים */
    border-radius: 5px;
}

tbody td:empty {
    background-color: transparent;
}

/* עיצוב טור השעות */
tbody td:first-child,
thead th:first-child {
    background-color: #5a6e5d; /* ירוק */
    color: white;
    font-weight: bold;
    text-align: right;
    padding-right: 15px;
    position: sticky;
    left: 0;
    z-index: 1;
}

tbody td:first-child:hover,
thead th:first-child:hover {
    background-color: #5a6e5d; /* מניעת שינוי צבע ב-hover */
    cursor: default; /* מוסיף סמן יד כאשר העכבר עובר מעל */
}

/* הוספת הגדרת סטייל */
td.highlight {
    background-color: #cccccc !important; /* צבע רקע כהה יותר להדגשה */
    cursor: pointer; /* מוסיף סמן יד כאשר העכבר עובר מעל */
}
