{% extends "base.html" %}

{% block title %}דף הבית - Lifted{% endblock %}

{% block styles %}
    <link rel="stylesheet" href="{{ url_for('home_page.static', filename='css/home_page.css') }}">
{% endblock %}

{% block content %}
    <div class="home-container">
        <!-- לוגו בפינה השמאלית העליונה -->
        <div class="logo-container">
            <img src="{{ url_for('home_page.static', filename='lifted_logo.png') }}" alt="Lifted Logo">
        </div>

        <div class="image-container">
            <img src="{{ url_for('home_page.static', filename='vibe.jpg') }}" alt="Fitness Studio Vibe">
        </div>

        <div class="motivation-container">
            <h2>אימון הוא לא עונש, הוא חגיגה של מה שהגוף שלך יכול לעשות!</h2>
        </div>
    </div>
{% endblock %}
