<!DOCTYPE html>
<html lang="he">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}ברוכים הבאים{% endblock %}</title>

    <!-- קובץ CSS כללי -->
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

    <!-- קובצי CSS נוספים של עמודים ספציפיים -->
    {% block styles %}{% endblock %}
</head>
<body>

 <nav class="navbar">
    <ul>
        <li><a href="{{ url_for('home_page.home_page_func') }}">עמוד הבית</a></li>
        <li><a href="{{ url_for('about_us.about_us_func') }}">אודות</a></li>
        <li><a href="{{ url_for('weekly_schedule.weekly_schedule_func') }}">מערכת שעות</a></li>
        <li><a href="{{ url_for('choose_workout.choose_workout_func') }}">בחירת אימון</a></li>
        <li><a href="{{ url_for('my_workouts.my_workouts_func') }}">האימונים שלי</a></li>

        {% if session.get('logged_in') %}
            <li class="user-info">
                שלום, {{ session.get('user_data', {}).get('first_name', 'משתמש') }}
                <a href="{{ url_for('login.logout_func') }}" class="logout-button">התנתקות</a>
            </li>
        {% else %}
            <li><a href="{{ url_for('login.login_func') }}">התחברות</a></li>
        {% endif %}
    </ul>
</nav>



    <main>
        {% block content %}{% endblock %}
    </main>

</body>
</html>
